
/* SIDE MENU */
.glossymenu
{
    margin: 0 0 15px 0;
    padding: 0;
    width: 100%;
}
.glossymenu a.menuitem
{              
    color:#ffffff;
    position: relative;
    width: auto;
    text-decoration: none;
    padding:8px 0 8px 10px;
    z-index:1;    
    font-weight:normal;
    border-bottom:1px solid white;
    background: #1ba1e2;
    text-align:left;
    display:block;
    outline:0;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition:0.3s;
}
.glossymenu a.menuitem.active {
    /*background:#31b7f8;    */
	background: darkgreen;
}
.glossymenu a.menuitem.active:before {
    content:">> ";
}
.glossymenu a.menuitem:first-child
{
    background: #0078b9;   
}
.glossymenu a.menuitem:visited, .glossymenu .menuitem:active
{
    color: #ffffff;
    outline:0;
	background: #ea4729; /* Old browsers */
    background: -moz-linear-gradient(top,  #f44c2d 0%, #d03920 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f44c2d), color-stop(100%,#d03920)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f44c2d 0%,#d03920 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f44c2d 0%,#d03920 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f44c2d 0%,#d03920 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f44c2d 0%,#d03920 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f44c2d', endColorstr='#d03920',GradientType=0 ); /* IE6-9 */
}
.glossymenu a.menuitem:hover
{
    background: #31b7f8;
}
.glossymenu a.menuitem:first-child:hover
{
    background: #0067a8;
}
.glossymenu a.menuitem:first-child:after {
    content: "[^]";
    font-family: "Lucida Console";
    font-size: 9px;
    position: absolute;
    opacity:0;
    right: 5px;
    transition:0.3s;
}
.glossymenu a.menuitem:first-child:hover:after {
    content: "[^]";
    opacity:1;
}
.glossymenu a.menuitem.active:hover
{
    /*background: #3dc3ff;*/
	background: darkgreen;
}
.glossymenu div.submenu ul li
{
    border-bottom: 1px solid #ffffff;
}
.glossymenu a.menuitem .statusicon
{ 
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
}
.glossymenu div.submenu ul li a {
    background: none repeat scroll 0 0 rgba(27, 161, 226, 0.36);
    color: #151515;
    display: block;
    font-size: 90%;
    outline: 0 none;
    padding: 2px 10px;
    text-decoration: none;
    transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
}
.glossymenu div.submenu ul li a:hover
{
    background:rgba(4, 123, 160, 0.15);
	background-color:
}
.glossymenu div.submenu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}







.glossymenu div.submenu ul li:last-child {
    border-bottom: 2px solid white;
}
.glossymenu div.submenu ul li {
    border-bottom: 1px solid #c1f3cd;
}
.glossymenu a.menuitem.active:before {
    border-color: transparent transparent transparent #a2d4ae;
    border-style: solid;
    border-width: 7px;
    content: "";
    left: 0;
    position: absolute;
}
.glossymenu a.menuitem.active {
    /*background: none repeat scroll 0 0 #7eb08a !important;*/
	background: none repeat scroll 0 0 green !important;
    padding-left: 16px;
}
.glossymenu a.menuitem, .glossymenu a.menuitem:visited {
    /*background: none repeat scroll 0 0 #96c8a2;*/
	background: none repeat scroll 0 0 green;
    border-bottom: 2px solid white;
    color: #ffffff;
    display: block;
    font-weight: normal;
    outline: 0 none;
    padding: 8px 0 8px 10px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    width: auto;
    z-index: 1;
}
.glossymenu div.submenu ul li a {
    /*background: none repeat scroll 0 0 #b3e5bf;*/
	background: none repeat scroll 0 0 darkgreen;
	padding-top: 6px;
	padding-bottom: 4px;
	color: #FFFFFF;
}
.glossymenu {
    margin: -61px 0 15px;
    padding: 0;
    width: 100%;
}
.glossymenu a.menuitem:first-child:before {
    border-color: transparent transparent white;
    border-style: solid;
    border-width: 10px;
    bottom: 0;
    content: "";
    left: 45%;
    position: absolute;
    transition: all 0.3s ease 0s;
}
.glossymenu a.menuitem:first-child {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    padding: 15px 5px 20px;
    text-transform:uppercase;
    text-align: center;
}
.glossymenu a.menuitem:hover {
    /*background:#7eb08a;*/
	background: #999900;
}
.glossymenu a.menuitem.active:hover {
    /*background:#6a9c76;*/
	background:#999900;
}
.glossymenu div.submenu ul li a:hover {
    /*background:#c0f2cc;*/
	background: #8ABDE3;
}
.glossymenu a.menuitem:first-child:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
}











