RewriteEngine on
RewriteRule ^news-room$ newsroom.php [L]
RewriteRule ^vale-javed-zaman-great-aitchisonian-and-friend$ newsroom-11012024.php [L]
RewriteRule ^aitchison-senior-mathematics-society-delegation-bags-medals-at-seamo-x-2024$ mathematics-society-seamox-20240124.php [L]
RewriteRule ^copyrights$ copyright.php [L]
RewriteRule ^environment-data$ resources/assets/aitchison-env/service/data.php [L]
RewriteRule ^summer-school$ summerschool-2023.php [L]
RewriteRule ^activity-glimpse$ activityglimpse.php [L]
RewriteRule ^week-at-a-glance$ activity-glimpse-oct-week-1-2022 [L]
RewriteRule ^week-at-a-glance-offline$ activity-glimpse-oct-week-2-2022 [L]
RewriteRule ^week-at-a-glance1$ activity-glimpse-oct-week-3-2022 [L]
RewriteRule ^week-at-a-glance-offline-1$ activity-glimpse-oct-week-4-2022 [L]
RewriteRule ^aitchison-vs-cadet-college-hasan-abdal-sports-carnival-2022$ aitchison-vs-cadet-college-hasan-abdal-sports-carnival.php [L]
RewriteRule ^activity-glimpse-([a-zA-Z]+)-week-([0-9]+)-([0-9]+)$ weeklyactivityglimpse.php?monthName=$1&weekNumber=$2&yearNumber=$3 [L]
RewriteRule ^activity-glimpses-([0-9]+)$ weeklyactivityglimpses.php?pagenumber=$1 [L]
RewriteRule ^activity-glimpses$ activity-glimpses-0 [L]
RewriteRule ^sports-cocurricular-activities-second-week-sept-2022$ activityglimpse-sept-2-2022.php [L]
RewriteRule ^404$ 404page.php [L]
RewriteRule ^news-room-([0-9]+)-([0-9]+)$ newsroom.php?monthNumber=$1&yearNumber=$2 [L]
RewriteRule ^gallerydetails-([0-9]+)-([0-9a-zA-Z-]+)$ gdetailredirect.php?gal_id=$1&gal_name=$2 [L]
RewriteRule ^contact-info$ contacts.php [L]
RewriteRule ^school-song$ schoolsong.php [L]
RewriteRule ^photo-of-the-week$ photo-of-week.php [L]
RewriteRule ^reliving-aitchison$ relivingaitchison-new.php [L]
RewriteRule ^careers$ career.php [L]
RewriteRule ^old-boys-bulletin$ old-boy-bulletin.php [L]
RewriteRule ^old-boys-bulletin-offline$ old-boy-bulletin-offline.php [L]
RewriteRule ^newslist-([0-9]+)-([0-9]+)$ newsroom.php?monthNumber=$1&yearNumber=$2 [L]
RewriteRule ^principal-letters$ pr-letters.php [L]
RewriteRule ^principal-letters-([0-9]+)-([0-9]+)$ pr-letters.php?monthNumber=$1&yearNumber=$2 [L]
RewriteRule ^principal-letter-([0-9]+)$ pr-letter.php?id=$1 [L]
RewriteRule ^principal-letter-([0-9]+)-([0-9a-zA-Z-]+)$ pr-letter.php?id=$1&title=$2 [L]
RewriteRule ^news-([0-9]+)$ news-story.php?id=$1 [L]
RewriteRule ^news-([0-9]+)-([0-9a-zA-Z-]+)$ news-story.php?id=$1&title=$2 [L]
Redirect 301 /tennis https://aitchison.edu.pk/sports/tennis
Redirect 301 /sports-athletesprayer https://aitchison.edu.pk/sports/sporting-philosophy
Redirect 301 /sports-ideals https://aitchison.edu.pk/sports/sports-ideals
Redirect 301 /sports-sheroes https://aitchison.edu.pk/sports/sporting-heroes
Redirect 301 /sportsacademies https://aitchison.edu.pk/sports/sports-academies
Redirect 301 /ac-sportsacademies.php https://aitchison.edu.pk/sports/sports-academies
#Redirect 301 /academics https://aitchison.edu.pk/academics/ac-academics
Redirect 301 /athletics https://aitchison.edu.pk/sports/athletics
Redirect 301 /ac-admissions-info-2018.php https://aitchison.edu.pk/admission/admissions-info
Redirect 301 /ac-admissions202021.php https://aitchison.edu.pk/admission/admissions-info
Redirect 301 /testing-schedule-2017-22032017.php https://aitchison.edu.pk/admission/admissions-info
Redirect 301 /cricket https://aitchison.edu.pk/sports/cricket
Redirect 301 /hockey https://aitchison.edu.pk/sports/hockey
Redirect 301 /swimming https://aitchison.edu.pk/sports/swimming
Redirect 301 /riding https://aitchison.edu.pk/sports/riding
Redirect 301 /rugby https://aitchison.edu.pk/sports/rugby
Redirect 301 /shooting https://aitchison.edu.pk/sports/shooting
Redirect 301 /tennis https://aitchison.edu.pk/sports/tennis
Redirect 301 /cocurricular https://aitchison.edu.pk/schools/our-schools
Redirect 301 /ac-cocurricular.php https://aitchison.edu.pk/schools/our-schools
Redirect 301 /college-records https://aitchison.edu.pk/sports/college-records
Redirect 301 /ss-athletics-records https://aitchison.edu.pk/sports/ss-athletic-records
Redirect 301 /ss-swimming-records https://aitchison.edu.pk/sports/ss-swimming-records
Redirect 301 /invitational-sports-tours https://aitchison.edu.pk/sports/invitational-sports-tours
Redirect 301 /admissions-info https://aitchison.edu.pk/admission/admissions-info
Redirect 301 /ac-admissions.php https://aitchison.edu.pk/admission/admissions-info
Redirect 301 /ac-admission-policy https://aitchison.edu.pk/admission/admissions-info
Redirect 301 /procedure-and-requirements https://aitchison.edu.pk/admission/procedure-and-requirements
Redirect 301 /download-application-forms-2022-23 https://aitchison.edu.pk/admission/download-application-forms
Redirect 301 /points-of-entry-into-aitchison https://aitchison.edu.pk/admission/points-of-entry-into-aitchison
Redirect 301 /important-dates-admissions https://aitchison.edu.pk/admission/important-dates-admissions
Redirect 301 /age-guidelines-for-admissions https://aitchison.edu.pk/admission/age-guidelines-for-admissions
Redirect 301 /admissions-faqs https://aitchison.edu.pk/admission/admissions-faqs
Redirect 301 /news-1044-fee-structure-2020-21 https://aitchison.edu.pk/admission/fee-structure
Redirect 301 /current-fee-structure-31012018.php https://aitchison.edu.pk/admission/fee-structure
Redirect 301 /fee-structure-2019-20 https://aitchison.edu.pk/admission/fee-structure
Redirect 301 /guidance-for-admissions https://aitchison.edu.pk/admission/guidance-for-admissions
Redirect 301 /international-enrolment-application-form https://aitchison.edu.pk/admission/international-enrolment-application-form
Redirect 301 /international-fee https://aitchison.edu.pk/admission/international-fee
Redirect 301 /year-level-admissions https://aitchison.edu.pk/admission/admissions-info
Redirect 301 /ac-admissions-faq-2020-21 https://aitchison.edu.pk/admission/admissions-faqs
Redirect 301 /ac-admissions-faq-2020.php https://aitchison.edu.pk/admission/admissions-faqs
Redirect 301 /regulations-for-admissions-testing-2020-21 https://aitchison.edu.pk/admission/admissions-info
Redirect 301 /regulations-for-admissions-testing https://aitchison.edu.pk/admission/admissions-info
Redirect 301 /prospective-parents-information https://aitchison.edu.pk/admission/admissions-info
Redirect 301 /guidance-for-admissions-2020-21 https://aitchison.edu.pk/admission/admissions-info
Redirect 301 /guidance-for-admissions https://aitchison.edu.pk/admission/admissions-info
Redirect 301 /guidance-for-admissions-2022.php https://aitchison.edu.pk/admission/admissions-info
Redirect 301 /admission-announcement https://aitchison.edu.pk/admission/admissions-info
Redirect 301 /age-guidelines-for-admissions-2020-21 https://aitchison.edu.pk/admission/age-guidelines-for-admissions
Redirect 301 /admission-test-timetable-notice-2020-21 https://aitchison.edu.pk/admission/admissions-info
#Redirect 301 /academics https://aitchison.edu.pk/academics/ac-academics
Redirect 301 /oxford-summer-academy-2016 https://aitchison.edu.pk/academics/oxford-summer-academy-2016
Redirect 301 /academics-overview https://aitchison.edu.pk/academics/academics-overview
Redirect 301 /harkness-table https://aitchison.edu.pk/academics/harkness-table
Redirect 301 /sat-centre https://aitchison.edu.pk/academics/sat-centre
Redirect 301 /sat_centre.php https://aitchison.edu.pk/academics/sat-centre
Redirect 301 /meta-cognition https://aitchison.edu.pk/academics/meta-cognition
Redirect 301 /student-recognition https://aitchison.edu.pk/academics/student-recognition
Redirect 301 /international-enrolment https://aitchison.edu.pk/boarding/international-enrolment
Redirect 301 /international-enrolments.php https://aitchison.edu.pk/boarding/international-enrolment
Redirect 301 /boarding-houses https://aitchison.edu.pk/boarding/boarding-houses
Redirect 301 /benefits-of-boarding https://aitchison.edu.pk/boarding/benefits-of-boarding
Redirect 301 /boarding-ten-basic-questions https://aitchison.edu.pk/boarding/boarding-ten-basic-questions
Redirect 301 /boarding-admissions https://aitchison.edu.pk/boarding/boarding-admissions
Redirect 301 /boarding-faq https://aitchison.edu.pk/boarding/boarding-ten-basic-questions
Redirect 301 /boarding-pastoralcare https://aitchison.edu.pk/boarding/boarding-pastoralcare
Redirect 301 /boarding-pastoral-care.php https://aitchison.edu.pk/boarding/boarding-pastoralcare
Redirect 301 /boardingmedical https://aitchison.edu.pk/boarding/boardingmedical
Redirect 301 /boarding-weekendactivities https://aitchison.edu.pk/boarding/boarding-weekendactivities
Redirect 301 /boarding-weekend-activities.php https://aitchison.edu.pk/boarding/boarding-weekendactivities
Redirect 301 /dining https://aitchison.edu.pk/boarding/dining
Redirect 301 /boarding-routine https://aitchison.edu.pk/boarding/boarding-routine
Redirect 301 /boarding-handbook https://aitchison.edu.pk/boarding/boarding-handbook
Redirect 301 /our-schools https://aitchison.edu.pk/schools/our-schools
Redirect 301 /student-leadership https://aitchison.edu.pk/schools/student-leadership
Redirect 301 /pastoral-care https://aitchison.edu.pk/schools/pastoral-care
Redirect 301 /senior-school https://aitchison.edu.pk/schools/senior-school
Redirect 301 /prep-school https://aitchison.edu.pk/schools/prep-school
Redirect 301 /junior-school https://aitchison.edu.pk/schools/junior-school
Redirect 301 /clubs-and-societies https://aitchison.edu.pk/schools/clubs-and-societies
Redirect 301 /debating https://aitchison.edu.pk/schools/debating
Redirect 301 /art https://aitchison.edu.pk/schools/art
Redirect 301 /music https://aitchison.edu.pk/schools/music
Redirect 301 /theatre https://aitchison.edu.pk/schools/theatre
Redirect 301 /aboutus https://aitchison.edu.pk/school/about-us
Redirect 301 /history https://aitchison.edu.pk/school/history
Redirect 301 /archive https://aitchison.edu.pk/school/archive
Redirect 301 /events-archive.php https://aitchison.edu.pk/news-room
Redirect 301 /board-of-governors https://aitchison.edu.pk/school/board-of-governors
Redirect 301 /principal-office https://aitchison.edu.pk/school/principal-office
Redirect 301 /leadingstaff https://aitchison.edu.pk/school/leading-staff
Redirect 301 /leading-staff.php https://aitchison.edu.pk/school/leading-staff
Redirect 301 /all-boys-schooling https://aitchison.edu.pk/school/all-boys-schooling
Redirect 301 /school-organization https://aitchison.edu.pk/school/school-organization
Redirect 301 /past-principals https://aitchison.edu.pk/school/past-principals
Redirect 301 /an-aitchison-education https://aitchison.edu.pk/school/an-aitchison-education
Redirect 301 /core-purpose https://aitchison.edu.pk/school/core-purpose
Redirect 301 /higher-education-careers https://aitchison.edu.pk/school/university-counseling
Redirect 301 /university-placements https://aitchison.edu.pk/school/university-placements
Redirect 301 /aitchison-publications https://aitchison.edu.pk/school/aitchison-publications
Redirect 301 /facilities https://aitchison.edu.pk/school/facilities
Redirect 301 /ac-facilities.php https://aitchison.edu.pk/school/facilities
Redirect 301 /environment https://aitchison.edu.pk/school/environment
Redirect 301 /event-gallery https://aitchison.edu.pk/gallery/event-gallery
Redirect 301 /picture-gallery https://aitchison.edu.pk/gallery/event-gallery
Redirect 301 /gallery-schools https://aitchison.edu.pk/gallery/gallery-schools
Redirect 301 /gallery-sports https://aitchison.edu.pk/gallery/gallery-sports
Redirect 301 /gallery-architect https://aitchison.edu.pk/gallery/gallery-architect
Redirect 301 /gallery-ground-and-fields https://aitchison.edu.pk/gallery/gallery-ground-and-fields
Redirect 301 /gallery-ground-and-fields https://aitchison.edu.pk/gallery/gallery-ground-and-fields
Redirect 301 /make-a-gift https://aitchison.edu.pk/support/support-college
Redirect 301 /news-387-old-building-donors https://aitchison.edu.pk/support/old-building-donors
Redirect 301 /news-1180-golden-donors https://aitchison.edu.pk/support/golden-donors
Redirect 301 /corporate-partner https://aitchison.edu.pk/support/corporate-partners
Redirect 301 /principal-recent-newsletter https://aitchison.edu.pk/principal-letters
Redirect 301 /ac-principals.php https://aitchison.edu.pk/principal-letters
Redirect 301 /ac-principal_newsletter.php https://aitchison.edu.pk/principal-letters
Redirect 301 /ac-sschool.php https://aitchison.edu.pk/schools/senior-school
Redirect 301 /principal-past-newsletter https://aitchison.edu.pk/principal-letters
Redirect 301 /news-and-events https://aitchison.edu.pk/news-room
Redirect 301 /newslist https://aitchison.edu.pk/news-room
Redirect 301 /news-and-events-archive https://aitchison.edu.pk/news-room
Redirect 301 /prletters https://aitchison.edu.pk/principal-letters
Redirect 301 /available-positions https://aitchison.edu.pk/careers
Redirect 301 /available-positions https://aitchison.edu.pk/careers
Redirect 301 /ac-career-guidance.php https://aitchison.edu.pk/school/university-counseling
Redirect 301 /bog.php https://aitchison.edu.pk/school/board-of-governors
Redirect 301 /ac-availablepositions.php https://aitchison.edu.pk/careers
Redirect 301 /relivingaitchison https://aitchison.edu.pk/reliving-aitchison
Redirect 301 /reliving-aitchison.php https://aitchison.edu.pk/reliving-aitchison
Redirect 301 /ac-college-song.php https://aitchison.edu.pk/school-song
Redirect 301 /sports-with-danish-schools-jan-2022 https://aitchison.edu.pk/sports/sports-with-danish-schools-jan-2022
Redirect 301 /cricket-live-scoreboard https://aitchison.edu.pk/sports/cricket-live-scoreboard
Redirect 301 /ac-total-cricket-score.php https://aitchison.edu.pk/sports/cricket-live-scoreboard
Redirect 301 /a-level-applications https://aitchison.edu.pk/admission/download-application-forms
Redirect 301 /guide-to-available-seats https://aitchison.edu.pk/admission/admissions-info
#Redirect 301 /old-boy-bulletin.php https://aitchison.edu.pk/old-boys-bulletin
Redirect 301 /ac-kangaroo-mathematics-contest-03062017.php https://aitchison.edu.pk/news-room
Redirect 301 /k4andk5-social-gathering-19112016.php https://aitchison.edu.pk/news-room
Redirect 301 /inter-house-swimming-competition-ss-23092016.php https://aitchison.edu.pk/news-room
Redirect 301 /inter-house-cricket-competition-ss-26092016.php https://aitchison.edu.pk/news-room
Redirect 301 /rab-pavilion22122016.php https://aitchison.edu.pk/news-63-the-re-opening-of-the-rab-pavilion
Redirect 301 /unsw-gold-medals-28032017.php https://aitchison.edu.pk/news-104-aitchisonians-win-unsw-gold-medals
Redirect 301 /summer-sports-camps-24072017.php https://aitchison.edu.pk/news-122-summer-sports-camps-in-full-swing-at-aitchison-college
Redirect 301 /international-young-physicists-tournament-17082017.php https://aitchison.edu.pk/news-room
Redirect 301 /legal-essay-writing-26092016.php https://aitchison.edu.pk/news-room
Redirect 301 /sports-mission https://aitchison.edu.pk/sports/sports
Redirect 301 /ac-sports.php https://aitchison.edu.pk/sports/sports
Redirect 301 /gallery_details.php https://aitchison.edu.pk/gallery/event-gallery
Redirect 301 /robinson-challenge-cup-02122016.php https://aitchison.edu.pk/news-room
Redirect 301 /js-perfects-selection-2016.php https://aitchison.edu.pk/news-room
Redirect 301 /ac-cambridge-2016-25022017.php https://aitchison.edu.pk/news-room
Redirect 301 /nawab-sir-sadiq-challenge-cup-07112016.php https://aitchison.edu.pk/news-room
Redirect 301 /ac-international-fee.php https://aitchison.edu.pk/admission/international-fee
Redirect 301 /ac-faizan-aslam-soofi-30112016.php https://aitchison.edu.pk/news-room
Redirect 301 /aitchison-pride-07092017.php https://aitchison.edu.pk/news-room
Redirect 301 /js-mini-academics-2016-24092016.php https://aitchison.edu.pk/news-room
Redirect 301 /cambridge-delegation-31032017.php https://aitchison.edu.pk/news-room
Redirect 301 /cross-country-races-08022019.php https://aitchison.edu.pk/news-room
Redirect 301 /modern-cricket-aitchison-03032017.php https://aitchison.edu.pk/news-room
Redirect 301 /pypt17-08062017.php https://aitchison.edu.pk/news-room
Redirect 301 /fee-structure https://aitchison.edu.pk/admission/fee-structure
Redirect 301 /championship-kazakstan-14062017.php https://aitchison.edu.pk/news-room
Redirect 301 /cricket-tour-to-uk-03042017.php https://aitchison.edu.pk/news-room
Redirect 301 /uipm-biathle-triathle-competition-102016.php https://aitchison.edu.pk/news-room
Redirect 301 /inter-school-scrabble-13112017.php https://aitchison.edu.pk/news-room
Redirect 301 /js-cross-country-2017-28022017.php https://aitchison.edu.pk/news-room
Redirect 301 /admission-test-timetable-202021.php https://aitchison.edu.pk/admission/admissions-info
Redirect 301 /ac-procedure-and-requirements-2021-22.php https://aitchison.edu.pk/admission/admissions-info
Redirect 301 /copyrights.php https://aitchison.edu.pk/copyrights
Redirect 301 /ac-tentpegging-08022017.php https://aitchison.edu.pk/news-room
Redirect 301 /arts-and-science-exhibition-2017-21032017.php https://aitchison.edu.pk/news-room
Redirect 301 /tentpegging-08022017 https://aitchison.edu.pk/news-room
Redirect 301 /news-archive.php https://aitchison.edu.pk/news-room
Redirect 301 /js-annual-plays-2017-27012017.php https://aitchison.edu.pk/news-room
Redirect 301 /us-university-college-fair-30092016.php https://aitchison.edu.pk/news-room
RewriteCond %{QUERY_STRING} ^id=(.+)$ [NC]
RewriteRule ^newsandevents-live.php$ /? [L,R=301,NC]
RewriteCond %{QUERY_STRING} ^p_id=(.+)$ [NC]
RewriteRule ^news-archive.php$ /? [L,R=301,NC]
RewriteCond %{QUERY_STRING} ^id=(.+)$ [NC]
RewriteRule ^ac-principal-news.php$ /? [L,R=301,NC]
RewriteCond %{QUERY_STRING} ^postid=(.+)$ [NC]
RewriteRule ^ac-career.php$ /? [L,R=301,NC]
Redirect 301 /ac-career.php https://aitchison.edu.pk/careers
Redirect 301 /apsc_28082017.php https://aitchison.edu.pk/news-room
Redirect 301 /pakistan-day-24032017.php https://aitchison.edu.pk/news-room
Redirect 301 /ac-principal-news.php https://aitchison.edu.pk/principal-letters
Redirect 301 /principal_past_newsletter https://aitchison.edu.pk/principal-letters
Redirect 301 /pakistan-day-20170324 https://aitchison.edu.pk/news-room
Redirect 301 /modern-photographic-history.php https://aitchison.edu.pk/news-room
Redirect 301 /ac-kangroo.php https://aitchison.edu.pk/
Redirect 301 /ac-staff-login.php https://aitchison.edu.pk/
Redirect 301 /ac-students-login.php https://aitchison.edu.pk/
Redirect 301 /car-stickers-policy https://aitchison.edu.pk/news-room
Redirect 301 /alumni/javascript(); https://aitchison.edu.pk/alumni/
Redirect 301 /helpdesk@aitchison.edu.pk https://aitchison.edu.pk/
Redirect 301 /ac-precent_newsletter.php https://aitchison.edu.pk/principal-letters
Redirect 301 /ac-tabraiz-selection.php https://aitchison.edu.pk/news-room
Redirect 301 /carrerscertificate https://aitchison.edu.pk/news-room
Redirect 301 /newsandevents-new.php https://aitchison.edu.pk/news-room
Redirect 301 /mun-chandigarh.php https://aitchison.edu.pk/news-room
Redirect 301 /ac-availablepositions https://aitchison.edu.pk/careers
Redirect 301 /ac-iftikhar-ahmed-malik-14032017.php https://aitchison.edu.pk/alumni/iftikhar-ahmad-malik-passed-away-20170313
Redirect 301 /acmun-22092016.php https://aitchison.edu.pk/news-43-acmun-2016
Redirect 301 /duke-of-edinburg-28112016.php https://aitchison.edu.pk/news-59-aitchisons-first-students-in-duke-of-edinburgh-international-award
Redirect 301 /goa-06112016.php https://aitchison.edu.pk/news-room
Redirect 301 /shakespeare-club-skit-01122016.php https://aitchison.edu.pk/news-room
Redirect 301 /ac-bags-5awards-at-Harvard-08022017.php https://aitchison.edu.pk/news-room
Redirect 301 /oxford-summer-academy-2017-12042017.php https://aitchison.edu.pk/news-room
Redirect 301 /news-1506-asian-rankings-championship https://aitchison.edu.pk/news-1506-u-14-asian-tennis-championship
Redirect 301 /news-1507-fee-notification https://aitchison.edu.pk/newsandevents-testlink.php?id=1507
Redirect 301 /sports-cocurricular-activities-second-week-sept-2022 https://aitchison.edu.pk/activity-glimpse-sep-week-2-2022
Redirect 301 /news-1175-ahmed-shujaan-gondal-scholarship https://aitchison.edu.pk/news-room
Redirect 301 /news-1141-re-international-boarding-admissions-to-aitchison-college-2022-23 https://aitchison.edu.pk/principal-letter-1658-re-international-boarding-admissions-to-aitchison-college-2023-24
Redirect 301 /news-1564-admissions-to-aitchison-college-2023-24 https://aitchison.edu.pk/news-1564-senior-admissions-to-aitchison-college-2023-24
Redirect 301 /principal-letter-1564-admissions-to-aitchison-college-2023-24 https://aitchison.edu.pk/principal-letter-1564-senior-admissions-to-aitchison-college-2023-24
Redirect 301 /news-2466-aitchison-beats-chand-bagh-to-win-interschool-basketball-championship https://aitchison.edu.pk/news-2466-aitchison-beats-chenab-college-jhang-to-win-interschool-basketball-championship
Redirect 301 /1 https://aitchison.edu.pk/news-room 
ErrorDocument 404 https://aitchison.edu.pk/404