RewriteEngine on
RewriteRule ^movie$ index.php [L]
RewriteRule ^acoba$ accoba.php [L]
RewriteRule ^news-bulletin$ alumni-news.php [L]
RewriteRule ^news.php$ alumni-news.php [L]
RewriteRule ^famous-aitchisonians$ famousaitchisonian.php [L]
RewriteRule ^FamousAitchisonians.php$ famousaitchisonian.php [L]
RewriteRule ^upcoming-events$ events.php [L]
RewriteRule ^reminiscence$ reminiscences.php [L]
RewriteRule ^reminiscence.php$ reminiscences.php [L]
RewriteRule ^share-your-story$ shareyourstory.php [L]
RewriteRule ^biodata-update$ biodataupdate.php [L]
RewriteRule ^alumni-profiles$ alumni_profiles.php [L]
RewriteRule ^overseas-ac-alumni$ overseasalumni.php [L]
RewriteRule ^overseas-alumni.php$ overseasalumni.php [L]
RewriteRule ^alumni-gallery$ gallery.php [L]
RewriteRule ^contact-us$ contactus.php [L]
RewriteRule ^poem-by-mehdi-mohsin_2017$ poem-by-mehdi-mohsin-2017.php [L]
RewriteRule ^an-interview-with-syed-fahd-husain$ interview-with-syed-fahd-husain.php [L]
RewriteRule ^iftikhar-ahmad-malik-passed-away-20170313$ iftikhar-ahmad-malik-passed-away.php [L]
RewriteRule ^alumni-swimming-programme-20170601$ alumni-swimming-programme-2017.php [L]
RewriteRule ^interview-with-mian-ijaz-hassan-20172020$ interview-with-mian-ijaz-hassan-2017.php [L]
RewriteRule ^session-with-omer-saeed-20170127$ session-with-omer-saeed-27012017.php [L]
RewriteRule ^alumni-reunion-2001-2005-20170115$ alumni-reunion-2001-2005-15012017.php [L]
RewriteRule ^justice-yahya-becomes-phc-chief-justice-20170107$ justice-yahya-becomes-PHC-chief-justice-07012017.php [L]
RewriteRule ^interview-with-jazib-zahir-20161215$ interview-with-jazib-zahir-15122016.php [L]
RewriteRule ^robinson-challenge-cup-20161202$ robinson-challenge-cup-02122016.php [L]
RewriteRule ^careers-evening-2016-20161129$ careers-evening-2016-29112016.php [L]
RewriteRule ^yawar-hayat-passes-away-20161104$ yawar-hayat-passes-away-04112016.php [L]
RewriteRule ^session-with-salman-akram-raja20161028$ session-with-salman-akram-raja28102016.php [L]
RewriteRule ^an-interview-with-aitzaz-ahsan-20160928$ an-interview-with-aitzaz-ahsan-28092016.php [L]
RewriteRule ^lunch-20160919$ lunch-19092016.php [L]
RewriteRule ^an-interview-with-humayun-mazhar-20160611$ an-interview-with-humayun-mazhar.php [L]
RewriteRule ^annual-dinner-2016$ annual_dinner2016.php [L]
RewriteRule ^founders-day-20160401$ newsfoundersday.php [L]
RewriteRule ^tent-pegging-20160227$ newstent.php [L]
RewriteRule ^football-20160225$ newsfootball.php [L]
RewriteRule ^cricket-20160221$ newscricket.php [L]
RewriteRule ^hockey-20160219$ newshockey.php [L]
RewriteRule ^old-tree_2016$ old-tree-2016.php [L]
RewriteRule ^alumni-profile-([0-9]+)-([0-9a-zA-Z-]+)$ alumni_profile_details.php?p_id=$1&title=$2 [L]
RewriteRule ^alumni-profile-([0-9]+)$ alumni_profile_details.php?p_id=$1 [L]
RewriteRule ^alumni-in-focus-([0-9]+)$ news-testlink.php?id=$1 [L]
RewriteRule ^news-([0-9]+)-([0-9a-zA-Z-]+)$ news-new.php?id=$1&title=$2 [L]
RewriteRule ^events-([0-9]+)-([0-9a-zA-Z-]+)$ news-new.php?id=$1id=$1&title=$2 [L]
RewriteRule ^events-([0-9]+)-([0-9a-zA-Z-]+)$ news-testlink.php?id=$1&title=$2 [L]
RewriteRule ^news-([0-9]+)$ news-new.php?id=$1 [L]
RewriteRule ^events-([0-9]+)$ news-new.php?id=$1 [L]
RewriteRule ^events-([0-9]+)$ news-testlink.php?id=$1 [L]
RewriteRule ^movie2-([0-9a-zA-Z]+)$ index.php?name=$1 [L]