RewriteEngine on
RewriteRule ^acportal$ login.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^helpdesk$ help.php [L]
RewriteRule ^copyright$ copyrights.php [L]
RewriteRule ^aitchison-code-of-conduct$ codeofconduct.php [L]
RewriteRule ^mysports$ sports.php [L]
RewriteRule ^disclaimers$ disclaimer.php [L]
RewriteRule ^dashboards$ dashboard.php [L]
RewriteRule ^dashboards-two$ dashboard-two.php [L]
RewriteRule ^online-learning$ onlinelearning.php [L]
RewriteRule ^offline-link$ offline-links.php [L]
RewriteRule ^fare-well$ farewell.php [L]
RewriteRule ^important-links$ importantlinks.php [L]
RewriteRule ^invitationcard$ invitation-card.php [L]
RewriteRule ^mock-exam-report$ mock-examination-report.php [L]
RewriteRule ^parking-detail-map$ parking-details-map.php [L]
RewriteRule ^welcomenote$ welcome-note.php [L]
RewriteRule ^syllabi$ syllabus.php [L]
RewriteRule ^syllabi-offline$ syllabus-offline.php [L]
RewriteRule ^new-parents-information$ new-parents-info.php [L]
RewriteRule ^exams$ examinations.php [L]
RewriteRule ^curriculum_guide$ curriculum-guide.php [L]
RewriteRule ^computer_use_policy$ computer-use-policy.php [L]
RewriteRule ^withdrawal_offences$ withdrawal-offences.php [L]
RewriteRule ^term_dates$ term-dates.php [L]
RewriteRule ^term_dates_offline$ term-dates-offline.php [L]
RewriteRule ^important_events$ important-events.php [L]
RewriteRule ^general_calendar$ general-calendar.php [L]
RewriteRule ^calendar$ allevents.php [L]
RewriteRule ^principal-letters$ prletters.php [L]
RewriteRule ^message$ messages.php [L]
RewriteRule ^aitchison-boarding$ boarding.php [L]
RewriteRule ^under_construction$ under-construction.php [L]
RewriteRule ^university_counselling$ university-counselling.php [L]
RewriteRule ^myclasses$ classes.php [L]
RewriteRule ^myattendance$ attendance.php [L]
RewriteRule ^sat_centre$ sat-centre.php [L]
RewriteRule ^meta_cognition$ meta-cognition.php [L]
RewriteRule ^student_recognition$ student-recognition.php [L]
RewriteRule ^harkness_table$ harkness-table.php [L]
RewriteRule ^principal-past-letters$ past-prletters.php [L]
RewriteRule ^super-home$ superhome.php [L]
RewriteRule ^welcome_boarder$ welcome-boarder.php [L]
RewriteRule ^welcome_student$ welcome-student.php [L]
RewriteRule ^sanctions$ sanction.php [L]
RewriteRule ^principal_letter$ principal-letter.php [L]
RewriteRule ^house_rules$ house-rules.php [L]
RewriteRule ^boarding_handbook$ boarding-handbook.php [L]
RewriteRule ^visiting_leave$ visiting-leave.php [L]
RewriteRule ^menu_guide$ menu-guide.php [L]
RewriteRule ^parents-meeting$ parents-meetings.php [L]
RewriteRule ^prep-and-academic-support$ prep-academic-support.php [L]
RewriteRule ^hos-notices$ notices.php [L]
RewriteRule ^upload-syllabus$ syllabus-upload.php [L]
RewriteRule ^ac-notice$ notice.php [L]
RewriteRule ^ac-notice-([0-9]+)-([0-9a-zA-Z-]+)$ notice.php?id=$1&title=$2 [L]
RewriteRule ^ac-notice-([0-9]+)$ notice.php?id=$1 [L]
RewriteRule ^notices-([0-9]+)$ notice.php?id=$1 [L]
#start of new notice
RewriteRule ^new-notice$ newnotice.php [L]
RewriteRule ^new-notice-([0-9]+)-([0-9a-zA-Z-]+)$ newnotice.php?id=$1&title=$2 [L]
RewriteRule ^new-notice-([0-9]+)$ newnotice.php?id=$1 [L]
#end of new notice
RewriteRule ^notices-([0-9]+)-([0-9a-zA-Z-]+)$ notice.php?id=$1&title=$2 [L]
RewriteRule ^prletter-([0-9]+)-([0-9a-zA-Z-]+)$ principal-letter.php?id=$1&title=$2 [L]
RewriteRule ^prletter$ principal-letter.php [L]
RewriteRule ^prletter-([0-9]+)$ principal-letter.php?id=$1 [L]
RewriteRule ^resource$ resources.php [L]
RewriteRule ^newsarchive$ news-archive.php [L]
RewriteRule ^wifi-application-form$ wifi-app-form.php [L]
RewriteRule ^assessmentpolicy$ assessment-policy.php [L]
RewriteRule ^promotion_policy$ promotion-policy.php [L]
RewriteRule ^time-table$ timetable.php [L]
RewriteRule ^routine-timetable$ routinetimetable.php [L]
RewriteRule ^classes-timetable$ classestimetable.php [L]
RewriteRule ^school_rules$ school-rules.php [L]
RewriteRule ^parking-detail$ parking-details.php [L]
RewriteRule ^car-stickers-policy$ car-sticker-policy.php [L]
RewriteRule ^car-sticker$ carsticker.php [L]
RewriteRule ^house-master-home$ hmaster-home.php [L]
RewriteRule ^news-room$ new_news_list.php [L]
RewriteRule ^news-list$ news.php [L]
RewriteRule ^welcome-staff-member$ welcome-staff.php [L]
RewriteRule ^monthly-tests-report$ monthly-test-report.php [L]
RewriteRule ^home-work$ homework.php [L]
RewriteRule ^new-news-list$ news-list-new.php [L]
RewriteRule ^sample-qa$ sampleqa.php [L]
RewriteRule ^pre-c1-syllabus$ prec1-syllabus.php [L]
RewriteRule ^work-sheets$ worksheets.php [L]
RewriteRule ^portal-login-stats$ portal_login_stats.php [L]
RewriteRule ^homework-new-asim-02042020$ homework-new-02042020-asim.php [L]
RewriteRule ^portal-not-login$ portal_notlogin.php [L]
RewriteRule ^annual-exam-report$ annual-examination-report.php [L]
RewriteRule ^portal-students-inactive$ portal_students_inactive.php [L]
RewriteRule ^portal-active-percentage$ portal_active_percentage.php [L]
RewriteRule ^lin$ lin.php [L]
RewriteRule ^howework-20210401$ homework-new-02042020-akhtar.php [L]
RewriteRule ^revision-classes$ revisionclasses.php [L]
RewriteRule ^prep-leave-and-exams$ prepleave-exams.php [L]
RewriteRule ^mobile-phone-policy$ mobile_phone_policy.php [L]